.technique {
	position: relative;
	@include gray-text ($fontS16);
	font-weight: $fW-500;

	&__title {
	@include gradient-title();
	
		&-text {			
			text-transform: uppercase;
		}
	}
	
	&__blur {
		@include swiper-blur();		
		height: 166px;
		top: 92px;		
	}
}

.text__button {
	display: none;
}

.slider__item-technique {	
	@include button-go();
	padding: 16px;
	height: 126px;
	
 
	a {
		// text-decoration: none;		
		width: 100%;
		height: 100%;
		display: block;
		font-weight: $fW-500;
	}
}

@media (min-width: 768px) {

	.technique {
		padding-bottom: 34px;	

		&__title {
			height: 56px;
			padding-left: 24px;
		}
	}

	.text__button {
		@include text-button();
		
		&::before {
			@include text-button-before();
		}
	}
}
@media (min-width: 1366px) {	
	
		.technique__title {
			padding-left: 32px;
		}
}